@font-face {
    font-family: "Satoshi";
    src: url(fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf);
    font: bold;
}

body{
    font-family: "Satoshi", sans-serif;
    font-weight: lighter;
    background-color: #1f1f1f;
    overflow-x: hidden;
}

.name{
    left: 0;
    line-height: 200px;
    margin-top: -250px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #e0e0e0;
    line-height: 0.9;
    font-size: 10em;
}

.last-name{
    color: #e0e0e0;
    display: block;
    margin-top: -0.0em; /* Adjust this value to bring it closer */
}

.section{
    color: #e0e0e0;
}

.dot{
    margin-left: 53.5%;
    margin-top: -7%;
    height: 1000px;
    width: 1000px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    mix-blend-mode: difference;
    z-index: 0;
}

.buttons{
    text-align: center;
    color: #e0e0e0;
    margin-top: 35%;
    font-size: 3em;
}

/* Hover effect for About Me and Project buttons */
.buttons span {
    cursor: pointer;
    transition: color 0.3s ease;
}

.buttons #aboutme-button:hover {
    color: #FF6347; /* Change to desired color on hover */
}

.buttons #projects-button:hover {
    color: #4682B4; /* Change to desired color on hover */
}

.buttons #contact-button:hover{
    color: #FFD700;
}

#aboutme-section{
    margin-top: 300px;
    font-size: 4em;
}
#projects-section{
    margin-top: 600px;
    font-size: 4em;
}