/* @font-face rule for custom font */
@font-face {
    font-family: "Satoshi";
    src: url('fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') format('truetype');
    font-weight: bolder; /* Define the normal weight here */
    font-style: normal;  /* Define the normal style here */
}

/* Apply the font to the body */
body {
    font-family: "Satoshi", sans-serif;
    background-color: #e0e0e0;
    overflow-x: hidden;
    margin: auto;
    padding: 0;
}
/* .Hello element fade-in setup */
#Hello {
    opacity: 0; /* Start with invisible text */
    transition: opacity 2s ease-in-out; /* Smooth fade-in transition */
    position: absolute;
    top: 35%; /* Position vertically in the center */
    left: 50%; /* Position horizontally in the center */
    transform: translate(-50%, -50%); /* Ensure perfect centering */
    text-align: center;
    font-size: 10em;
    color: #e0e0e0;
    line-height: 1.2; /* Adjust line-height to make the text more readable */
    z-index: 2;
}
/* The dot element with mix-blend mode */
.dot {
    opacity: 1;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 2000px;
    width: 2000px;
    background-color: #1f1f1f;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.Name{
    font-size: 9em;
    white-space: nowrap;
    position: relative;
    text-align: right;
    color: white;
    margin-top: 1900px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding-left: 4em;
    z-index: 2;
}

@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-132.5%)} /*Adjust this to ensure smooth transition*/
  }
.marquee {
    width: 100%;
    overflow-x: hidden;
}
.scroll-items {
    display: flex;
    animation-name: infiniteScroll;
    animation-duration: 10s; /* Adjust for scrollspeed*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#photo-me{
    max-width: 100%;
    position: absolute;
    top: 113%;
    z-index: 0;
}
#placeholder{
    font-size: 9em;
    text-align: center;
    white-space: nowrap;
    color: #1f1f1f;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 1000px;
}

#down-arrow{
    opacity: 0; /* Start with invisible text */
    transition: opacity 2s ease-in-out, color 0.5s ease-in-out; /* Smooth fade-in transition */
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 35%; /* Position vertically in the center */
    left: 50%; /* Position horizontally in the center */
    transform: translate(-50%, -50%); /* Ensure perfect centering */
    text-align: center;
    font-size: 10em;
    color: #e0e0e0;
    line-height: 1.2; /* Adjust line-height to make the text more readable */
    margin-top: 350px;
    z-index: 2;
}

#down-arrow:hover{
    color: rgb(150, 150, 150);
}

.remove-scrolling{
    overflow-y: hidden;
}